<robot name="robot_car" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find vis_lecture)/urdf/wheel/wheel.urdf.xacro"/>
  <xacro:include filename="$(find vis_lecture)/urdf/body/body.urdf.xacro"/>

  <link name="base_footprint"/>

  <xacro:base parent="base_footprint">
    <origin xyz="0 0 0"/>
  </xacro:base>

  <xacro:wheel prefix="front_right_wheel" parent="body_link">
    <origin xyz="0.1 -0.13 0.0" rpy="1.57 0 0" />
    <axis xyz="0 0 -1" />
  </xacro:wheel>

  <xacro:wheel prefix="rear_right_wheel" parent="body_link">
    <origin xyz="-0.1 -0.13 0.0" rpy="1.57 0 0" />
    <axis xyz="0 0 -1" />
  </xacro:wheel>


  <xacro:wheel prefix="front_left_wheel" parent="body_link">
    <origin xyz="0.1 0.13 0.0" rpy="-1.57 0 0" />
    <axis xyz="0 0 1" />
  </xacro:wheel>

  <xacro:wheel prefix="rear_left_wheel" parent="body_link">
    <origin xyz="-0.1 0.13 0.0" rpy="-1.57 0 0" />
    <axis xyz="0 0 1" />
  </xacro:wheel>

  <!-- <xacro:wheel_trans prefix="front_right_wheel" interface="hardware_interface/VelocityJointInterface" />
  <xacro:wheel_trans prefix="front_left_wheel" interface="hardware_interface/VelocityJointInterface" />
  <xacro:wheel_trans prefix="rear_right_wheel" interface="hardware_interface/VelocityJointInterface" />
  <xacro:wheel_trans prefix="rear_left_wheel" interface="hardware_interface/VelocityJointInterface" /> -->

  <!-- <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/robot_car</robotNamespace>
    </plugin>
  </gazebo>

  <xacro:base_gazebo/>
  <xacro:wheel_gazebo prefix="front_right_wheel" />
  <xacro:wheel_gazebo prefix="front_left_wheel" />
  <xacro:wheel_gazebo prefix="rear_right_wheel" />
  <xacro:wheel_gazebo prefix="rear_left_wheel" /> -->

</robot>